/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */


/* @import "@ionic/angular/css/palettes/dark.always.css"; */


/* @import "@ionic/angular/css/palettes/dark.class.css"; */
:root {
	--ion-color-primary: #00309d;
	--ion-color-primary-rgb: 0,48,157;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #002a8a;
	--ion-color-primary-tint: #1a45a7;
	--ion-color-success: #78bf5a;
	--ion-color-success-rgb: 120,191,90;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #6aa84f;
	--ion-color-success-tint: #86c56b;
}
.ion-color-primary {
	--ion-color-base: var(--ion-color-primary);
	--ion-color-base-rgb: var(--ion-color-primary-rgb);
	--ion-color-contrast: var(--ion-color-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-primary-shade);
	--ion-color-tint: var(--ion-color-primary-tint);
}


.ion-color-success {
	--ion-color-base: var(--ion-color-success);
	--ion-color-base-rgb: var(--ion-color-success-rgb);
	--ion-color-contrast: var(--ion-color-success-contrast);
	--ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb);
	--ion-color-shade: var(--ion-color-success-shade);
	--ion-color-tint: var(--ion-color-success-tint);
}
@import "@ionic/angular/css/palettes/dark.system.css";

/*************************************************************************/

.heading {
    font-size: 32px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 70px;
    margin-bottom: -60px;
}

.para {
    font-size: 22px;
    font-weight: 500;
    padding-left: 20px;
    margin-bottom: 70px;
    color: #A6ABB1;
}

.input-item {
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #e2e2e2;
    height: 70px;
    ion-input {
        margin-top: -12px;
    }
}

.input-item legend {    
    font-weight: bold;
    color: rgb(108, 171, 235);
}

.input-item ion-input {    
    font-weight: bold;
    font-size: larger;
}

.ion-item {
    margin-top: 20px;
}

.forget-text {
    a {
        text-decoration: none;
        color: black;
    }
    text-align: end;
    margin-bottom: -10px;
    padding-right: 20px;
}

.login-button {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 60px;
    --box-shadow: none;
}

.google-button {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 40px;
    --box-shadow: none;
}

.signup-text {
    a {
        text-decoration: none;
        color: var(--ion-color-primary);
    }
    padding-right: 20px;
    text-align: end;
}

ion-footer {
    display: block;
    // position: relative;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
}

.copyright {
    text-align: center;
}

.grande input{
    font-size: 3rem !important ;
    height: 4rem;
}
.ILLA::after {
    width: 1em;
    height: 1em;
    padding-left:0.1em;
    content: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 69.85 69.85" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-37.109 -93.852)"><path d="m74.944 99.393 2.0002 27.08-31.649-15.266 23.646 18.539-31.832 3.6354 25.104 3.4528-21.648 10.179 25.104-4.5455-19.1 16.722h0.7276l31.104-11.269 1.6378-3.4528 1.4552-0.36513 2.9104-0.54504 22.556-17.084-18.553 5.4531z" fill-rule="evenodd" stroke-width=".26458"/></g></svg>');
    display: inline-block;
    }
.EURO:after{
    content: '\20AC';
}