<ion-content [fullscreen]="true" class="ion-padding">

  <div class="container">
      <ion-img style="width:25%" src="assets/img/Comunitaria Icono.png"/>
      <h1  class="heading">¡Bienvenid&commat;!<br><br></h1>
      <div *ngIf="paso==0">
          <p class="para">Introduce la clave</p>
          <ion-item  lines="none">
            <fieldset class="input-item">
              <legend>Clave</legend>
              <ion-input type="password" name="txtClave" [(ngModel)]="usuario.clave" required placeholder="Clave"><ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
            </fieldset>
          </ion-item>
          <ion-button class="login-button" (click)="onClick()" expand="block">Entrar</ion-button>
      </div>
      <ion-list *ngIf="paso>0" style="margin-top: 30px;">
        <ion-item lines="none">
          <div *ngIf="paso==1">
            <p class="para"><ion-spinner style="vertical-align: bottom;" name="dots"></ion-spinner> Verificando usuario</p>
          </div> 
          <div *ngIf="paso>1&&paso<6">
            <p class="para"><ion-spinner style="vertical-align: bottom;" name="dots"></ion-spinner> Creando monedero</p>
          </div> 
          <p class="para" *ngIf="paso==6">
            Tu monedero está operativo
          </p> 
        </ion-item>
        <ion-item *ngIf="paso>0" lines="none">
          <svg  [ngClass]="paso>1?'pintar':''" width="100%" height="100%" version="1.1" viewBox="0 0 177.14 23.587" xmlns="http://www.w3.org/2000/svg">
              <g transform="translate(-21.056 -118.95)">
              <rect x="21.056" y="118.95" width="177.14" height="23.587" rx="11.793" ry="11.793" fill="#00309d" stroke-width=".26458" class="svg-elem-1"></rect>
              <ellipse cx="32.941" cy="130.74" rx="9.6478" ry="9.8408" fill="#fff" stroke-width=".25644" class="svg-elem-2"></ellipse>
              <path d="m26.876 130.8 4.5789 4.579 6.968-10.153" fill="none" stroke="#00309d" stroke-width="1.365" class="svg-elem-3"></path>
              </g>
          </svg>
          <div class="mensajeCheck">Usuario verificado</div> 
        </ion-item>
        <ion-item *ngIf="paso>0"  class="ion-margin-top" lines="none">
          <svg  [ngClass]="paso>2?'pintar':''" width="100%" height="100%" version="1.1" viewBox="0 0 177.14 23.587" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(-21.056 -118.95)">
            <rect x="21.056" y="118.95" width="177.14" height="23.587" rx="11.793" ry="11.793" fill="#00309d" stroke-width=".26458" class="svg-elem-1"></rect>
            <ellipse cx="32.941" cy="130.74" rx="9.6478" ry="9.8408" fill="#fff" stroke-width=".25644" class="svg-elem-2"></ellipse>
            <path d="m26.876 130.8 4.5789 4.579 6.968-10.153" fill="none" stroke="#00309d" stroke-width="1.365" class="svg-elem-3"></path>
            </g>
        </svg>
        <div class="mensajeCheck">Monedero solicitado</div> 
        </ion-item>
        <ion-item *ngIf="paso>0"  class="ion-margin-top" lines="none">
          <svg  [ngClass]="paso>3?'pintar':''" width="100%" height="100%" version="1.1" viewBox="0 0 177.14 23.587" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(-21.056 -118.95)">
            <rect x="21.056" y="118.95" width="177.14" height="23.587" rx="11.793" ry="11.793" fill="#00309d" stroke-width=".26458" class="svg-elem-1"></rect>
            <ellipse cx="32.941" cy="130.74" rx="9.6478" ry="9.8408" fill="#fff" stroke-width=".25644" class="svg-elem-2"></ellipse>
            <path d="m26.876 130.8 4.5789 4.579 6.968-10.153" fill="none" stroke="#00309d" stroke-width="1.365" class="svg-elem-3"></path>
            </g>
          </svg>
          <div class="mensajeCheck">Monedero cargado</div> 
        </ion-item>
        <ion-item *ngIf="paso>0"  class="ion-margin-top" lines="none">
          <svg  [ngClass]="paso>4?'pintar':''" width="100%" height="100%" version="1.1" viewBox="0 0 177.14 23.587" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(-21.056 -118.95)">
            <rect x="21.056" y="118.95" width="177.14" height="23.587" rx="11.793" ry="11.793" fill="#00309d" stroke-width=".26458" class="svg-elem-1"></rect>
            <ellipse cx="32.941" cy="130.74" rx="9.6478" ry="9.8408" fill="#fff" stroke-width=".25644" class="svg-elem-2"></ellipse>
            <path d="m26.876 130.8 4.5789 4.579 6.968-10.153" fill="none" stroke="#00309d" stroke-width="1.365" class="svg-elem-3"></path>
            </g>
        </svg>
        <div class="mensajeCheck">Monedero autorizado</div> 
        </ion-item>
      </ion-list>
  </div>
</ion-content>
